.footer {
    background-color: #1f3a5f;
    /* puedes cambiar al color de tu paleta */
    color: white;
    padding: 30px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* importante para responsive */
    gap: 20px;
}

.footer-item {
    flex: 1;
    min-width: 200px;
}

.footer-item h3 {
    margin-bottom: 10px;
}

.footer-item a {
    color: #f4a261;
    /* color acento */
    text-decoration: none;
}

.footer-item a:hover {
    text-decoration: underline;
}