body {
    margin: 0;
    
    background: #dcdcdc;
    font-family: "Segoe UI", sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hoja {
    width: 400px;
    background: #f5efe6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}
#menu{
    margin-left: 25%;
    padding: 20px;
}
#menu a img{
    width: 50px;
    height: 50px;
    border-radius: 250%;
}
.top {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

h1 {
    text-align: center;
    font-weight: 400;
    margin: 30px 20px;
    font-family: "Segoe UI", sans-serif;
}
.requerido {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 12px;
    margin-top: 10px;
}

input {
    padding: 10px;
    border: none;
    margin-top: 5px;
    border-radius: 20px;
    background: #f3a7b5;
    color: #e9cdb4;
    outline: none;
}

.telefono {
    border-radius: 20px;
    background: #f3d08a;
    color: black;
}

.emoji {
    text-align: center;
    font-size: 30px;
    margin: 15px 0;
}

button {
    background: #f3d08a;
    color: #f3a7b5;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bottom {
    margin-top: 20px;
    font-size: 12px;
    border-top: 1px dashed #924f4f;
    padding-top: 10px;
}

.maquina {
    border-radius: 20px;
    width: 420px;
    height: 120px;
    background: #a11;
    margin-top: -30px;
    border-radius: 10px;
    box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.3);
}
#navegar {
    margin: 30px;
    background-color: #f3a7b5;
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    padding: 15px 60px;
    border-radius: 40px;
}

#navegar img {
    width: 100%;
    height: 50px;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .hoja {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 20px;
        margin: 20px 10px;
    }

    input, button {
        font-size: 14px;
        padding: 8px;
    }

    .maquina {
        width: 95%;
        height: auto;
    }

    #navegar {
        flex-direction: column;
        padding: 10px 20px;
        margin: 10px;
    }

    #navegar img {
        height: 40px;
    }
}


@media (min-width: 1400px) {
    .hoja {
        width: 600px;
        padding: 40px;
    }

    h1 {
        font-size: 28px;
        margin: 40px 20px;
    }

    input, button {
        font-size: 18px;
        padding: 12px;
    }

    .maquina {
        width: 650px;
        height: 150px;
    }

    #navegar {
        padding: 20px 100px;
        margin: 50px;
    }

    #navegar img {
        height: 60px;
    }
}
