body{
    background-color: #f5f5dc;
}
.sekuya-regular {
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
}

#nav{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-family: "Sekuya";
    background-color: #fdbfca;
    padding: 15px 60px;
    border-radius: 40px;
    
}
#logo{
    width: 120px;
    margin: 0px 10px;
}
section{
    margin: 50px 10px ;
}

#menu{
    display: flex;
    gap: 60px; 
    font-size: 10px;
    color: #45151b;
    font-family:sekuya;
}
#menu a h1{
    color: inherit;
    color: #45151B;
    text-decoration: none;
}
#menu p{
    margin: 0;
    font-weight: bold;
    color: #4b1f1f;
}

#carrusel{
    width: 1500px;
    overflow: hidden;
}
#imagenes{
    display: flex;
    width: 900%;
    animation: deslizar 50s linear infinite;
}
#imagenes img{
    height: 500px;
    width: 1000px;
    border-radius: 20px;
    margin: 0px 40px;
    gap: 30px;
}
#imagenes img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

@keyframes deslizar {
    0% {
        transform: translateX(0);
    }
    50%{
        transform: translateX(-50%) ;
    }
    100% {
        transform: translateX(-100%);
    }
}

#conocer{
    position: relative;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 320px;
    background-color: #45151b;
    border-radius: 30px;
    border-color: #f5f5dc;
    color: transparent;
    font-size: 15px;
    font-family: "Sekuya";
    -webkit-text-stroke: 1px #f5f5dc
}
#conocer:hover{
    transform: scale(1.2);
    transition: 0.5s;
    transform: translateX(50%);
    background-color: #f5f5dc;
    color: #45151b;
    
}

#animalitostitulo{
    font-family: "Sekuya";
    margin: 110px;
    font-size: 80px;
    color: transparent;
    justify-self: center;
    -webkit-text-stroke: 1px #45151B
}
#section{
    display: flex;
    gap: 20px;
    margin: 10px 0px 230px;
}
#section div:hover{
    transform: scale(1.1);
    transition: 0,5s;
}
#perro{
    background-color: #F99256;
    color: #C74E51;
    text-decoration: none;
}
#gato{
    background-color: #1F2A44;
    color: #FBDE9C;
}
#ave{
    background-color: #45151B;
    color: #FDBFCA;
}
#conejo{
    background-color: #C74E51;
    color: #F99256;
    text-decoration: none;
}
#conejo, #hamster, #ave, #gato, #perro{
    width: 300px;
    height: 250px;
    border-radius: 50px;
    position: relative;
    text-align: center;
}
#hamster{
    background-color: #FDBFCA;
    color: #45151B;
}
#avesita, #perrito, #gatito, #hamstersito, #conejito{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: white;
    padding: 10px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid #ececec;
}
h2{
    margin: 150px 20px;
    font-weight: bold;
    font-size: 40px;
    font-family: "Sekuya";
}
#slogan{
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: url(img/Ellos\ te\ estan\ esperando\ \(3\).png);
    height: 600px;
    width: 1200px;
    border-radius: 30px;
    margin: 150px auto;
}
#conejee{
    height: 300px;
    padding: 200px 0px;
}

#adop{
    display: flex;
    gap: 30px;
    height: 340px ;
    width: 100px;

}
#part img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
#part{
    border-radius: 20px;
    gap: 30px;
    background-color: #F6C0A0;
    padding: 30px;
    width: 1800%;
    animation: cambiar 15s linear infinite;
    
}

@keyframes cambiar {
    0% {
        transform: translateX(-200%);
    }
    30%{
        transform: translateX(-400%) ;
    }
    50% {
        transform: translateX(-600%);
    }
    80%{
        transform: translateX(-800%);
    }
    100%{
        transform: translateX(-1000%);
    }

}
#part img{
    height: 240px;
    width: 220px;
    border-color: #F6C0A0;
    border-radius: 120px;
    
}

#part img:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

h3{
    background-color: #C74E51;
    border-radius: 30px;
    text-align: center;
    color: #F6C0A0;
    font-family: "Sekuya";
}

#limi{
    margin: 150px 10px ;
    overflow: hidden;
    height: 540px;
}

#titulomasc{
    color: inherit;
    text-decoration: none;
    background-color: #C74E51;
    color: #F6C0A0;
    padding-top: 0%;
    border-radius: 20px;
    margin: 40px ;
    text-align: center;
    font-size: 70px ;
    font-family: "Sekuya";
}
#titulomasc:hover{
    transform: scale(1.1);
    transform: 0.5s;
    background-color: #F6C0A0;
    color: #C74E51;
}
#testimonio{
    text-align: center;
    font-size: 60px;
    color: transparent;
    font-family: "Sekuya";
    -webkit-text-stroke: 1px #45151B;
}

#rojito{
    height: 450px;
    width: 490px;
    border-radius: 20px;
    background-color: #F99256;
}
#sofia{
    color:#C74E51;
    margin: 60px 0px 0px 30px;
    font-size: 35px;
    font-family: "Sekuya";
}
#laura{
    color:#45151B;
    margin: 60px 0px 0px 30px;
    font-size: 35px;
    font-family: "Sekuya";
}
#camila{
    color:#1f3a5f;
    margin: 60px 0px 0px 30px;
    font-size: 35px;
    font-family: "Sekuya";
}
#flix{
    display: flex;
}
#pip{
    font-size: 20px;
    text-align: left;
}
#rosa{
    height: 450px;
    width: 490px;
    border-radius: 20px;
    background-color: #FDBFCA;
}
#amarille{
    height: 450px;
    width: 490px;
    border-radius: 20px;
    background-color: #FBDE9C;
}
#ik{
    display: flex;
    gap: 30px;
}
#img{
    height: 175px;
    border-radius: 50%;
    margin: 15px;
    justify-content: center;
}
#parr{
    color: #664b4e;
    font-size: 18px;
    padding: 5px 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.footer {
    background-color: #1f3a5f;
    color: white;
    padding: 30px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
#l9{
    background-color: #f4a261;
    color: #1f3a5f;
    font-family: "Sekuya";
    font-size: 30px;
}
.footer-item {
    flex: 1;
    margin: 0px 30px 0px 20px;
    min-width: 200px;
}

.footer-item h3 {
    margin-bottom: 10px;
}

.footer-item a {
    color: #ececec;
    text-decoration: none;
}

.footer-item a:hover {
    text-decoration: underline;
}
